
<div>
  <div class="modal fade" id="editModalLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
          <button type="button" class="close" data-bs-dismiss="modal" data-bs-target="#editModalLocation" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" >
          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Tên</span>
              <input name="ten" type="text" id="ten" th:value="${diadiem.getTen()}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div id="errorNameEdit">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Vùng Miền</span>
              <select class="form-control" id="vungMien" >
                <option th:each="vungMien : ${dsVungMien}"
                        th:value="${vungMien.getId()}"
                        th:text="${vungMien.getTen()}" th:selected="${vungMien.getId() == diadiem.getIdVungMien().getId()}">
                </option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#editModalLocation">Đóng</button>
              <button id="btnEditLocation" type="button" class="btn btn-primary" th:data-id="${diadiem.getId()}" onclick="">Sửa</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/js/diadiem/edit.js}"></script>