<div class="modal fade" id="AddNSModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel01">Thông tin nhân viên</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#ViewModal" aria-label="Close"></button>
            </div>
            <form method="get" class="row g-3 needs-validation" novalidate style="padding: 20px">
                <div class="modal-body">
                    <div style="margin-bottom: 10px; margin-right: 10px; float: left; width: 28%">
                        <img id="previewImage" class="img-thumbnail" style="width: 100%; height: 250px">
                        <div class="input-group mb-3" style="width: 100%; margin-top: 10px">
                            <label class="input-group-text" for="inputGroupFile02">Chọn hình ảnh</label>
                            <input type="file" class="form-control" id="inputGroupFile02" onchange="changePic()" style="opacity: 0; position: absolute;">
                            <input type="text" id="img_ns" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled>
                        </div>
                    </div>
                    <div style="float: right; width: 70%">

                        <div class="input-group mb-3" style="width: 100%">
                            <span class="input-group-text" style="width: 160px">Tên</span>
                            <input type="text" id="ten_ns" class="form-control" value="" aria-label="Sizing example input" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback" style="font-size: 16px">
                                Vui lòng nhập tên.
                            </div>
                        </div>
                        <div class="input-group mb-3" style="width: 100%">
                            <span class="input-group-text" style="width: 160px">Địa chỉ</span>
                            <input type="text" id="dc_ns" class="form-control" value="" aria-label="Sizing example input" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback" style="font-size: 16px">
                                Vui lòng nhập địa chỉ.
                            </div>
                        </div>
                        <div class="input-group mb-3" style="width: 100%">
                            <span class="input-group-text" style="width: 160px">CMND</span>
                            <input type="text" id="cmnd_ns" class="form-control" value="" aria-label="Sizing example input" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback"  style="font-size: 16px">
                                Vui lòng nhập căn cước công dân.
                            </div>
                        </div>
                        <div class="input-group mb-3" style="width: 100%">
                            <span class="input-group-text" style="width: 160px">Số điện thoại</span>
                            <input type="text" id="sdt_ns" class="form-control" value="" aria-label="Sizing example input" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback"  style="font-size: 16px">
                                Vui lòng nhập số điện thoại.
                            </div>
                        </div>
                        <div class="input-group mb-3" style="width: 100%">
                            <span class="input-group-text" style="width: 160px">Email</span>
                            <input type="text" id="email_ns" class="form-control" value="" aria-label="Sizing example input" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback"  style="font-size: 16px">
                                Vui lòng nhập email.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="width: 100%">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#editModalLocation">Đóng</button>
                    <button id="btnEditNhansu" type="submit" class="btn btn-primary" onclick="">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/Nhansu/nhansuadd.js}"></script>