
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Địa Điểm

          <div style="float:right">
            <button id="addLocationButton"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Thêm mới
            </button>
          <div id="modalContainer">

          </div>
          </div>
        </h1>



        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên</th>
                  <th>Vùng miền</th>
                  <th>Sửa</th>
                  <th>Xoá</th>
                </tr>
                </thead>

                <tbody>

                <!--/*@thymesVar id="dsDiaDiem" type="java.util.List<com.example.WebBookTour.entity.Diadiem>"*/-->
                <tr th:each="diadiem : ${dsDiaDiem.content}">
                  <th th:text="${diadiem.getId()}"></th>
                  <th th:text="${diadiem.getTen()}"></th>
                  <th th:text="${diadiem.getIdVungMien() != null ? diadiem.getIdVungMien().getTen() : 'Chưa có vùng miền'}"></th>
                  <th><button type="button" class="btn btn-warning">Edit</button></th>
                  <th><button type="button" class="btn btn-danger">Delete</button></th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>


    </div>



<script th:src="@{/js/diadiemAjax.js}"></script>

</body>

</html>