
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Địa Điểm

          <div style="float:right">
            <button id="addLocationButton"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Thêm mới
            </button>
          <div id="modalContainer">

          </div>
          </div>
        </h1>



        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên</th>
                  <th>Vùng miền</th>
                  <th>Sửa</th>
                  <th>Xoá</th>
                </tr>
                </thead>
<!--                <tfoot>-->
<!--                <tr>-->
<!--                  <th>Name</th>-->
<!--                  <th>Position</th>-->
<!--                  <th>Office</th>-->
<!--                  <th>Age</th>-->
<!--                  <th>Start date</th>-->
<!--                  <th>Salary</th>-->
<!--                </tr>-->
<!--                </tfoot>-->
                <tbody>
<!--                <tr th:if="${dsdiadiem.empty}">-->
<!--                  <td colspan="2"> Empty </td>-->
<!--                </tr>-->
                <tr th:each="diadiem : ${dsdiadiem}">
                  <th th:text="${diadiem.id}"></th>
                  <th th:text="${diadiem.ten}"></th>
                    <th th:text="${diadiem.idVungMien.ten}"></th>
                  <th><button type="button" class="btn btn-warning">Edit</button></th>
                  <th><button type="button" class="btn btn-danger">Delete</button></th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2020</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->


  <!-- End of Content Wrapper -->


<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>


<script th:src="@{/js/diadiemAjax.js}"></script>

</body>

</html>