
<div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Tên</span>
            <input name="ten" type="text" id="ten" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
          <span class="input-group-text">Vùng Miền</span>
          <select class="form-control" id="vungMien" >

            <option th:each="vungMien : ${dsVungMien}"
                    th:value="${vungMien.getId()}"
                    th:text="${vungMien.getTen()}">
            </option>

          </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="btnAdd" type="button" class="btn btn-primary" onclick="">Thêm</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/js/diadiemAjax.js}"></script>